[submodule "jenkins-master"]
	path = jenkins-master
	url = git@github.com:levonk/docker-jenkins.git
[submodule "jenkins-data"]
	path = jenkins-data
	url = git@github.com:levonk/docker-jenkins-master-data.git
